*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    /* height:100vh; */
    display:flex;
}

#projectBox{
    height:400px;
    width:150px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap:5px;
}

#projectBox>input{
    width:100%;
}

#addProjectBoxButtons{
    display:flex;
    justify-content: space-evenly;
    
}

#todoBox{
   /*  height:400px;
    width:900px; */
    flex-grow: 1;
    border: 3px solid black;
}

.divTasks{
    border: 2px solid black;
    padding:4px;
    margin:5px;
} 